In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv("C:\\Users\\dipak\\Innomatics\\raw_web_csv\\data\\purple_cap_all_seasons.csv")

In [3]:
df.head()

,POS,Player,Wkts,Mat,Inns,Ov,Runs,BBI,Avg,Econ,SR,4w,5w,Season
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008
1,1.0,Sohail Tanvir RR,22.0,11.0,11.0,41.0,266.0,6/14,12.09,6.46,11.22,1.0,1.0,2008
2,2.0,Shane Warne RR,19.0,15.0,15.0,52.0,404.0,4/21,21.26,7.76,16.42,0.0,0.0,2008
3,3.0,Shanthakumaran Sreesanth PBKS,19.0,15.0,15.0,51.0,442.0,3/29,23.26,8.63,16.15,0.0,0.0,2008
4,4.0,Piyush Chawla PBKS,17.0,15.0,15.0,47.0,389.0,4/17,22.88,8.30,16.52,0.0,0.0,2008

In [4]:
df.shape

(1702, 14)

In [5]:
df = df.drop(["POS"], axis=1)

In [6]:
df.head()

,Player,Wkts,Mat,Inns,Ov,Runs,BBI,Avg,Econ,SR,4w,5w,Season
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008
1,Sohail Tanvir RR,22.0,11.0,11.0,41.0,266.0,6/14,12.09,6.46,11.22,1.0,1.0,2008
2,Shane Warne RR,19.0,15.0,15.0,52.0,404.0,4/21,21.26,7.76,16.42,0.0,0.0,2008
3,Shanthakumaran Sreesanth PBKS,19.0,15.0,15.0,51.0,442.0,3/29,23.26,8.63,16.15,0.0,0.0,2008
4,Piyush Chawla PBKS,17.0,15.0,15.0,47.0,389.0,4/17,22.88,8.30,16.52,0.0,0.0,2008

In [7]:
df.isna().sum()

Player    18
Wkts      18
Mat       18
Inns      18
Ov        18
Runs      18
BBI       18
Avg       18
Econ      18
SR        18
4w        18
5w        18
Season     0
dtype: int64

In [8]:
df.dropna()

,Player,Wkts,Mat,Inns,Ov,Runs,BBI,Avg,Econ,SR,4w,5w,Season
1,Sohail Tanvir RR,22.0,11.0,11.0,41.0,266.0,6/14,12.09,6.46,11.22,1.0,1.0,2008
2,Shane Warne RR,19.0,15.0,15.0,52.0,404.0,4/21,21.26,7.76,16.42,0.0,0.0,2008
3,Shanthakumaran Sreesanth PBKS,19.0,15.0,15.0,51.0,442.0,3/29,23.26,8.63,16.15,0.0,0.0,2008
4,Piyush Chawla PBKS,17.0,15.0,15.0,47.0,389.0,4/17,22.88,8.30,16.52,0.0,0.0,2008
5,Albie Morkel CSK,17.0,13.0,13.0,48.0,399.0,4/32,23.47,8.31,16.94,1.0,0.0,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1697,Marcus Stoinis PBKS,1.0,13.0,9.0,14.1,175.0,14/1,175.00,12.35,85.00,0.0,0.0,2025
1698,Shahrukh Khan GT,1.0,15.0,1.0,1.0,13.0,13/1,13.00,13.00,6.00,0.0,0.0,2025
1699,V Satyanarayana Penmetsa MI,1.0,2.0,2.0,4.0,53.0,40/1,53.00,13.25,24.00,0.0,0.0,2025
1700,Musheer Khan PBKS,1.0,1.0,1.0,2.0,27.0,27/1,27.00,13.50,12.00,0.0,0.0,2025
1701,Mujeeb-ur-Rahman MI,1.0,1.0,1.0,2.0,28.0,28/1,28.00,14.00,12.00,0.0,0.0,2025

In [9]:
df["Team"] = df["Player"].str.extract(r'([A-Z]{2,4})$')

In [10]:
df["Player"] = df["Player"].str.replace(r'([A-Z]{2,4})$', '', regex=True).str.strip()

In [11]:
df.head()

,Player,Wkts,Mat,Inns,Ov,Runs,BBI,Avg,Econ,SR,4w,5w,Season,Team
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008,NaN
1,Sohail Tanvir,22.0,11.0,11.0,41.0,266.0,6/14,12.09,6.46,11.22,1.0,1.0,2008,RR
2,Shane Warne,19.0,15.0,15.0,52.0,404.0,4/21,21.26,7.76,16.42,0.0,0.0,2008,RR
3,Shanthakumaran Sreesanth,19.0,15.0,15.0,51.0,442.0,3/29,23.26,8.63,16.15,0.0,0.0,2008,PBKS
4,Piyush Chawla,17.0,15.0,15.0,47.0,389.0,4/17,22.88,8.30,16.52,0.0,0.0,2008,PBKS

In [20]:
df.dropna(inplace=True)

In [22]:
df.isnull().sum()

Player    0
Wkts      0
Mat       0
Inns      0
Ov        0
Runs      0
BBI       0
Avg       0
Econ      0
SR        0
4w        0
5w        0
Season    0
Team      0
dtype: int64

In [30]:
df[["BBI_Wkts", "BBI_Runs"]] = df["BBI"].str.split("/", expand=True)
df["BBI_Wkts"] = pd.to_numeric(df["BBI_Wkts"], errors="coerce")
df["BBI_Runs"] = pd.to_numeric(df["BBI_Runs"], errors="coerce")

In [33]:
df = df.drop(columns=["BBI"])

In [34]:
df["Player"] = df["Player"].astype(str)
df["Team"]   = df["Team"].astype(str)
df["Wkts"] =  df["Wkts"].astype(int)
df["Runs"] =  df["Runs"].astype(int)
df["Mat"] =  df["Mat"].astype(int)
df["Inns"] =  df["Inns"].astype(int)
df["4w"] =  df["4w"].astype(int)
df["5w"] =  df["5w"].astype(int)

In [35]:
df.dtypes

Player       object
Wkts          int32
Mat           int32
Inns          int32
Ov          float64
Runs          int32
Avg         float64
Econ        float64
SR          float64
4w            int32
5w            int32
Season        int64
Team         object
BBI_Wkts      int64
BBI_Runs      int64
dtype: object

In [36]:
df.head()

,Player,Wkts,Mat,Inns,Ov,Runs,Avg,Econ,SR,4w,5w,Season,Team,BBI_Wkts,BBI_Runs
1,Sohail Tanvir,22,11,11,41.0,266,12.09,6.46,11.22,1,1,2008,RR,6,14
2,Shane Warne,19,15,15,52.0,404,21.26,7.76,16.42,0,0,2008,RR,4,21
3,Shanthakumaran Sreesanth,19,15,15,51.0,442,23.26,8.63,16.15,0,0,2008,PBKS,3,29
4,Piyush Chawla,17,15,15,47.0,389,22.88,8.30,16.52,0,0,2008,PBKS,4,17
5,Albie Morkel,17,13,13,48.0,399,23.47,8.31,16.94,1,0,2008,CSK,4,32

In [39]:
df.to_csv("Cleaned_Purple_Cap_Data.csv")