In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import re

In [4]:
df = pd.read_csv("C:\\Users\\dipak\\Innomatics\\raw_web_csv\\data\\ipl_results_all_seasons.csv")

In [5]:
df.head()

,year,stage,venue,date_time,summary,team1,score1,team2,score2
0,2008,NaN,"MATCH 59\nDY Patil Stadium, NAVI MUMBAI\nJUN, ...",NaN,RAJASTHAN ROYALS WON BY 3 WICKETS,Chennai Super Kings,163/5,Rajasthan Royals,164/7
1,2008,NaN,"MATCH 58\nWankhede Stadium, Mumbai\nMAY, SAT 3...",NaN,CHENNAI SUPER KINGS WON BY 9 WICKETS,Chennai Super Kings,116/1,Punjab Kings,112/8
2,2008,NaN,"MATCH 57\nWankhede Stadium, Mumbai\nMAY, FRI 3...",NaN,RAJASTHAN ROYALS WON BY 105 RUNS,Delhi Daredevils,87,Rajasthan Royals,192/9
3,2008,NaN,"MATCH 56\nIS Bindra Stadium, Mohali\nMAY, WED ...",NaN,PUNJAB KINGS WON BY 41 RUNS,Punjab Kings,221/3,Rajasthan Royals,180/7
4,2008,NaN,"MATCH 55\nM. Chinnaswamy Stadium, Bengaluru\nM...",NaN,MUMBAI INDIANS WON BY 9 WICKETS,Royal Challengers Bangalore,122/9,Mumbai Indians,126/1

In [6]:
df = df.drop(columns=["stage","date_time"])

In [7]:
df[["match_number", "venue"]] = df["venue"].str.extract(
    r'MATCH\s+(\d+)\n([^\n]*)'
)

In [8]:
df.head()

,year,venue,summary,team1,score1,team2,score2,match_number
0,2008,"DY Patil Stadium, NAVI MUMBAI",RAJASTHAN ROYALS WON BY 3 WICKETS,Chennai Super Kings,163/5,Rajasthan Royals,164/7,59
1,2008,"Wankhede Stadium, Mumbai",CHENNAI SUPER KINGS WON BY 9 WICKETS,Chennai Super Kings,116/1,Punjab Kings,112/8,58
2,2008,"Wankhede Stadium, Mumbai",RAJASTHAN ROYALS WON BY 105 RUNS,Delhi Daredevils,87,Rajasthan Royals,192/9,57
3,2008,"IS Bindra Stadium, Mohali",PUNJAB KINGS WON BY 41 RUNS,Punjab Kings,221/3,Rajasthan Royals,180/7,56
4,2008,"M. Chinnaswamy Stadium, Bengaluru",MUMBAI INDIANS WON BY 9 WICKETS,Royal Challengers Bangalore,122/9,Mumbai Indians,126/1,55

In [16]:
team_shortforms = {
    r"chennai super kings": "CSK",
    r"mumbai indians": "MI",
    r"royal challengers (bangalore|bengaluru)": "RCB",
    r"rajasthan royals": "RR",
    r"punjab kings": "PBKS",
    r"delhi daredevils|delhi capitals": "DC",
    r"kolkata knight riders": "KKR",
    r"sunrisers hyderabad": "SRH",
    r"gujarat titans": "GT",
    r"lucknow super giants": "LSG",
    r"deccan chargers": "DC",
    r"pune warriors": "PW",
    r"rising pune supergiant[s]?": "RPS"
}

def replace_teams(text):
    if pd.isna(text):
        return text
    text_lower = text.lower()
    for pattern, short in team_shortforms.items():
        text_lower = re.sub(pattern, short, text_lower, flags=re.IGNORECASE)
    return text_lower.upper()

# Apply to columns
df["team1_short"] = df["team1"].apply(replace_teams)
df["team2_short"] = df["team2"].apply(replace_teams)
df["summary_short"] = df["summary"].apply(replace_teams)

In [17]:
df

,year,venue,summary,team1,score1,team2,score2,match_number,team1_short,team2_short,summary_short
0,2008,"DY Patil Stadium, NAVI MUMBAI",RAJASTHAN ROYALS WON BY 3 WICKETS,Chennai Super Kings,163/5,Rajasthan Royals,164/7,59,CSK,RR,RR WON BY 3 WICKETS
1,2008,"Wankhede Stadium, Mumbai",CHENNAI SUPER KINGS WON BY 9 WICKETS,Chennai Super Kings,116/1,Punjab Kings,112/8,58,CSK,PBKS,CSK WON BY 9 WICKETS
2,2008,"Wankhede Stadium, Mumbai",RAJASTHAN ROYALS WON BY 105 RUNS,Delhi Daredevils,87,Rajasthan Royals,192/9,57,DC,RR,RR WON BY 105 RUNS
3,2008,"IS Bindra Stadium, Mohali",PUNJAB KINGS WON BY 41 RUNS,Punjab Kings,221/3,Rajasthan Royals,180/7,56,PBKS,RR,PBKS WON BY 41 RUNS
4,2008,"M. Chinnaswamy Stadium, Bengaluru",MUMBAI INDIANS WON BY 9 WICKETS,Royal Challengers Bangalore,122/9,Mumbai Indians,126/1,55,RCB,MI,MI WON BY 9 WICKETS
...,...,...,...,...,...,...,...,...,...,...,...
1174,2025,"Narendra Modi Stadium, Ahmedabad",PUNJAB KINGS WON BY 11 RUNS,Gujarat Titans,232/5,Punjab Kings,243/5,5,GT,PBKS,PBKS WON BY 11 RUNS
1175,2025,Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadi...,DELHI CAPITALS WON BY 1 WICKET,Delhi Capitals,211/9,Lucknow Super Giants,209/8,4,DC,LSG,DC WON BY 1 WICKET
1176,2025,"MA Chidambaram Stadium, Chennai",CHENNAI SUPER KINGS WON BY 4 WICKETS,Chennai Super Kings,158/6,Mumbai Indians,155/9,3,CSK,MI,CSK WON BY 4 WICKETS
1177,2025,"Rajiv Gandhi International Stadium, Hyderabad",SUNRISERS HYDERABAD WON BY 44 RUNS,Sunrisers Hyderabad,286/6,Rajasthan Royals,242/6,2,SRH,RR,SRH WON BY 44 RUNS
1178,2025,"Eden Gardens, Kolkata",ROYAL CHALLENGERS BENGALURU WON BY 7 WICKETS,Kolkata Knight Riders,174/8,Royal Challengers Bengaluru,177/3,1,KKR,RCB,RCB WON BY 7 WICKETS

In [20]:
# TEAM 1
df["team1_runs"] = (
    df["score1"]
    .astype(str)
    .str.extract(r"(\d+)", expand=False)
    .fillna(0)              # handle NaN safely
    .astype(int)
)

df["team1_wickets"] = (
    df["score1"]
    .astype(str)
    .str.extract(r"/(\d+)", expand=False)
    .fillna(10)             # assume all out
    .astype(int)
)

# TEAM 2
df["team2_runs"] = (
    df["score2"]
    .astype(str)
    .str.extract(r"(\d+)", expand=False)
    .fillna(0)
    .astype(int)
)

df["team2_wickets"] = (
    df["score2"]
    .astype(str)
    .str.extract(r"/(\d+)", expand=False)
    .fillna(10)
    .astype(int)
)

In [21]:
df

,year,venue,summary,team1,score1,team2,score2,match_number,team1_short,team2_short,summary_short,team1_runs,team1_wickets,team2_runs,team2_wickets
0,2008,"DY Patil Stadium, NAVI MUMBAI",RAJASTHAN ROYALS WON BY 3 WICKETS,Chennai Super Kings,163/5,Rajasthan Royals,164/7,59,CSK,RR,RR WON BY 3 WICKETS,163,5,164,7
1,2008,"Wankhede Stadium, Mumbai",CHENNAI SUPER KINGS WON BY 9 WICKETS,Chennai Super Kings,116/1,Punjab Kings,112/8,58,CSK,PBKS,CSK WON BY 9 WICKETS,116,1,112,8
2,2008,"Wankhede Stadium, Mumbai",RAJASTHAN ROYALS WON BY 105 RUNS,Delhi Daredevils,87,Rajasthan Royals,192/9,57,DC,RR,RR WON BY 105 RUNS,87,10,192,9
3,2008,"IS Bindra Stadium, Mohali",PUNJAB KINGS WON BY 41 RUNS,Punjab Kings,221/3,Rajasthan Royals,180/7,56,PBKS,RR,PBKS WON BY 41 RUNS,221,3,180,7
4,2008,"M. Chinnaswamy Stadium, Bengaluru",MUMBAI INDIANS WON BY 9 WICKETS,Royal Challengers Bangalore,122/9,Mumbai Indians,126/1,55,RCB,MI,MI WON BY 9 WICKETS,122,9,126,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1174,2025,"Narendra Modi Stadium, Ahmedabad",PUNJAB KINGS WON BY 11 RUNS,Gujarat Titans,232/5,Punjab Kings,243/5,5,GT,PBKS,PBKS WON BY 11 RUNS,232,5,243,5
1175,2025,Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadi...,DELHI CAPITALS WON BY 1 WICKET,Delhi Capitals,211/9,Lucknow Super Giants,209/8,4,DC,LSG,DC WON BY 1 WICKET,211,9,209,8
1176,2025,"MA Chidambaram Stadium, Chennai",CHENNAI SUPER KINGS WON BY 4 WICKETS,Chennai Super Kings,158/6,Mumbai Indians,155/9,3,CSK,MI,CSK WON BY 4 WICKETS,158,6,155,9
1177,2025,"Rajiv Gandhi International Stadium, Hyderabad",SUNRISERS HYDERABAD WON BY 44 RUNS,Sunrisers Hyderabad,286/6,Rajasthan Royals,242/6,2,SRH,RR,SRH WON BY 44 RUNS,286,6,242,6
1178,2025,"Eden Gardens, Kolkata",ROYAL CHALLENGERS BENGALURU WON BY 7 WICKETS,Kolkata Knight Riders,174/8,Royal Challengers Bengaluru,177/3,1,KKR,RCB,RCB WON BY 7 WICKETS,174,8,177,3

In [22]:
df = df.drop(columns=["summary", "team1", "score1", "team2", "score2"])

In [23]:
df

,year,venue,match_number,team1_short,team2_short,summary_short,team1_runs,team1_wickets,team2_runs,team2_wickets
0,2008,"DY Patil Stadium, NAVI MUMBAI",59,CSK,RR,RR WON BY 3 WICKETS,163,5,164,7
1,2008,"Wankhede Stadium, Mumbai",58,CSK,PBKS,CSK WON BY 9 WICKETS,116,1,112,8
2,2008,"Wankhede Stadium, Mumbai",57,DC,RR,RR WON BY 105 RUNS,87,10,192,9
3,2008,"IS Bindra Stadium, Mohali",56,PBKS,RR,PBKS WON BY 41 RUNS,221,3,180,7
4,2008,"M. Chinnaswamy Stadium, Bengaluru",55,RCB,MI,MI WON BY 9 WICKETS,122,9,126,1
...,...,...,...,...,...,...,...,...,...,...
1174,2025,"Narendra Modi Stadium, Ahmedabad",5,GT,PBKS,PBKS WON BY 11 RUNS,232,5,243,5
1175,2025,Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadi...,4,DC,LSG,DC WON BY 1 WICKET,211,9,209,8
1176,2025,"MA Chidambaram Stadium, Chennai",3,CSK,MI,CSK WON BY 4 WICKETS,158,6,155,9
1177,2025,"Rajiv Gandhi International Stadium, Hyderabad",2,SRH,RR,SRH WON BY 44 RUNS,286,6,242,6
1178,2025,"Eden Gardens, Kolkata",1,KKR,RCB,RCB WON BY 7 WICKETS,174,8,177,3

In [24]:
df["win_type"] = "Unknown"

df.loc[df["summary_short"].str.contains(r"WON BY \d+ RUN", regex=True, na=False), "win_type"] = "Defending"

df.loc[df["summary_short"].str.contains(r"WON BY \d+ WICKET", regex=True, na=False), "win_type"] = "Chasing"

df.loc[df["summary_short"].str.contains(r"SUPER OVER", regex=True, na=False), "win_type"] = "Super Over"

df.loc[df["summary_short"].str.contains(r"DLS", regex=True, na=False), "win_type"] = "DLS"

df.loc[df["summary_short"].str.contains(r"ABANDONED|ABOND", regex=True, na=False), "win_type"] = "Abandoned"

In [25]:
df

,year,venue,match_number,team1_short,team2_short,summary_short,team1_runs,team1_wickets,team2_runs,team2_wickets,win_type
0,2008,"DY Patil Stadium, NAVI MUMBAI",59,CSK,RR,RR WON BY 3 WICKETS,163,5,164,7,Chasing
1,2008,"Wankhede Stadium, Mumbai",58,CSK,PBKS,CSK WON BY 9 WICKETS,116,1,112,8,Chasing
2,2008,"Wankhede Stadium, Mumbai",57,DC,RR,RR WON BY 105 RUNS,87,10,192,9,Defending
3,2008,"IS Bindra Stadium, Mohali",56,PBKS,RR,PBKS WON BY 41 RUNS,221,3,180,7,Defending
4,2008,"M. Chinnaswamy Stadium, Bengaluru",55,RCB,MI,MI WON BY 9 WICKETS,122,9,126,1,Chasing
...,...,...,...,...,...,...,...,...,...,...,...
1174,2025,"Narendra Modi Stadium, Ahmedabad",5,GT,PBKS,PBKS WON BY 11 RUNS,232,5,243,5,Defending
1175,2025,Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadi...,4,DC,LSG,DC WON BY 1 WICKET,211,9,209,8,Chasing
1176,2025,"MA Chidambaram Stadium, Chennai",3,CSK,MI,CSK WON BY 4 WICKETS,158,6,155,9,Chasing
1177,2025,"Rajiv Gandhi International Stadium, Hyderabad",2,SRH,RR,SRH WON BY 44 RUNS,286,6,242,6,Defending
1178,2025,"Eden Gardens, Kolkata",1,KKR,RCB,RCB WON BY 7 WICKETS,174,8,177,3,Chasing

In [26]:
df["win_type"].unique()

array(['Chasing', 'Defending', 'Abandoned', 'Unknown', 'Super Over',
       'DLS'], dtype=object)

In [27]:
df["match_winner"] = (
    df["summary_short"]
    .str.extract(r"^([A-Z]+)", expand=False)
)

df.loc[
    df["summary_short"].str.contains(r"ABANDONED|NO RESULT", na=False),
    "match_winner"
] = "No Result"

In [28]:
df

,year,venue,match_number,team1_short,team2_short,summary_short,team1_runs,team1_wickets,team2_runs,team2_wickets,win_type,match_winner
0,2008,"DY Patil Stadium, NAVI MUMBAI",59,CSK,RR,RR WON BY 3 WICKETS,163,5,164,7,Chasing,RR
1,2008,"Wankhede Stadium, Mumbai",58,CSK,PBKS,CSK WON BY 9 WICKETS,116,1,112,8,Chasing,CSK
2,2008,"Wankhede Stadium, Mumbai",57,DC,RR,RR WON BY 105 RUNS,87,10,192,9,Defending,RR
3,2008,"IS Bindra Stadium, Mohali",56,PBKS,RR,PBKS WON BY 41 RUNS,221,3,180,7,Defending,PBKS
4,2008,"M. Chinnaswamy Stadium, Bengaluru",55,RCB,MI,MI WON BY 9 WICKETS,122,9,126,1,Chasing,MI
...,...,...,...,...,...,...,...,...,...,...,...,...
1174,2025,"Narendra Modi Stadium, Ahmedabad",5,GT,PBKS,PBKS WON BY 11 RUNS,232,5,243,5,Defending,PBKS
1175,2025,Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadi...,4,DC,LSG,DC WON BY 1 WICKET,211,9,209,8,Chasing,DC
1176,2025,"MA Chidambaram Stadium, Chennai",3,CSK,MI,CSK WON BY 4 WICKETS,158,6,155,9,Chasing,CSK
1177,2025,"Rajiv Gandhi International Stadium, Hyderabad",2,SRH,RR,SRH WON BY 44 RUNS,286,6,242,6,Defending,SRH
1178,2025,"Eden Gardens, Kolkata",1,KKR,RCB,RCB WON BY 7 WICKETS,174,8,177,3,Chasing,RCB