# Orange cap

In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv("C:\\Users\\dipak\\Innomatics\\raw_web_csv\\data\\orange_cap_all_seasons.csv")

In [3]:
df.head()

,Pos,Player,Team,Matches,Innings,Not Outs,Runs,HS,Avg,BF,SR,100s,50s,4s,6s,Season
0,1,Shaun MarshPBKS,DC,616,11,11,2,115,68.44,441,139.68,1,5,59,26,2008
1,2,Gautam GambhirDC,MI,534,14,14,1,86,41.07,379,140.89,0,5,68,8,2008
2,3,Sanath JayasuriyaMI,RR,518,14,14,2,114*,43.16,309,167.63,1,2,58,31,2008
3,4,Shane WatsonRR,RR,472,15,15,5,76*,47.2,311,151.76,0,4,47,19,2008
4,5,Graeme SmithRR,PBKS,441,11,11,2,91,49,362,121.82,0,3,54,8,2008

In [4]:
df = df.drop(["Pos", "Team"], axis=1)

In [5]:
df.head()

,Player,Matches,Innings,Not Outs,Runs,HS,Avg,BF,SR,100s,50s,4s,6s,Season
0,Shaun MarshPBKS,616,11,11,2,115,68.44,441,139.68,1,5,59,26,2008
1,Gautam GambhirDC,534,14,14,1,86,41.07,379,140.89,0,5,68,8,2008
2,Sanath JayasuriyaMI,518,14,14,2,114*,43.16,309,167.63,1,2,58,31,2008
3,Shane WatsonRR,472,15,15,5,76*,47.2,311,151.76,0,4,47,19,2008
4,Graeme SmithRR,441,11,11,2,91,49,362,121.82,0,3,54,8,2008

In [6]:
df = df.rename(columns={
    "Matches": "Runs_temp",   # temporary name to avoid conflict
    "Innings": "Matches",
    "Not Outs": "Innings",
    "Runs": "Not Outs"
})

# Now rename temporary column to final name
df = df.rename(columns={"Runs_temp": "Runs"})

In [7]:
df.head()

,Player,Runs,Matches,Innings,Not Outs,HS,Avg,BF,SR,100s,50s,4s,6s,Season
0,Shaun MarshPBKS,616,11,11,2,115,68.44,441,139.68,1,5,59,26,2008
1,Gautam GambhirDC,534,14,14,1,86,41.07,379,140.89,0,5,68,8,2008
2,Sanath JayasuriyaMI,518,14,14,2,114*,43.16,309,167.63,1,2,58,31,2008
3,Shane WatsonRR,472,15,15,5,76*,47.2,311,151.76,0,4,47,19,2008
4,Graeme SmithRR,441,11,11,2,91,49,362,121.82,0,3,54,8,2008

In [9]:
df["Player"].isnull().sum()

0

# Feature Extraction

In [11]:
df["Team"] = df["Player"].str.extract(r'([A-Z]{2,4})$')

In [12]:
df["Player"] = df["Player"].str.replace(r'([A-Z]{2,4})$', '', regex=True).str.strip()

In [13]:
df.head()

,Player,Runs,Matches,Innings,Not Outs,HS,Avg,BF,SR,100s,50s,4s,6s,Season,Team
0,Shaun Marsh,616,11,11,2,115,68.44,441,139.68,1,5,59,26,2008,PBKS
1,Gautam Gambhir,534,14,14,1,86,41.07,379,140.89,0,5,68,8,2008,DC
2,Sanath Jayasuriya,518,14,14,2,114*,43.16,309,167.63,1,2,58,31,2008,MI
3,Shane Watson,472,15,15,5,76*,47.2,311,151.76,0,4,47,19,2008,RR
4,Graeme Smith,441,11,11,2,91,49,362,121.82,0,3,54,8,2008,RR

In [15]:
df.to_csv("Cleaned_Orange_Cap_Data.csv")